@import "./variables.scss";

.status-page-tittle {
  width: 415px;
  position: absolute;
  margin-left: 2em;
  margin-top: 1em;
}
.page-description {
  position: absolute;
  margin-top: 100px;
  margin-left: 2em;
}
.relatorio-grid {
  display: grid;
  gap: 3px;
  grid-template-columns: auto auto auto;
  .add-relatorio {
    margin-top: 11em;
    margin-left: 2em;
    margin-bottom: -60px;
    display: inline-flex;
    width: 300px;
  }
  .text-content {
    margin-left: 1em;
    line-height: 30px;
    .btn-confirm {
      height: 34px;
      width: 94px;
      margin-left: 8px;
      background-color: $btns-background-color;
      color: white;
      border: none;
      text-align: center;
      padding: 3px;
      cursor: pointer;
    }
    label {
      margin-left: 0px;
    }
    #tipo-de-arquivo {
      margin-left: 5px;
    }
  }
  .polygon-img {
    position: absolute;
    margin-top: 12em;
    margin-left: -1.1em;
  }
}
